/* SecondarySidebar.css */
.secondary-sidebar {
  transition: width 0.3s ease;
}

.secondary-sidebar a {
  text-decoration: none;
  color: inherit;
}

/* Custom scrollbar for the sidebar */
.secondary-sidebar::-webkit-scrollbar {
  width: 1px;
}

.secondary-sidebar::-webkit-scrollbar-track {
  background: #13131a;
}

.secondary-sidebar::-webkit-scrollbar-thumb {
  background: #1c1c24;
  border-radius: 4px;
}

.secondary-sidebar::-webkit-scrollbar-thumb:hover {
  background: #1c1c24;
}

/* For Firefox scrollbar */
.secondary-sidebar {
  scrollbar-width: thin;
  scrollbar-color: #1c1c24 #1c1c24;
}

.second-sidebar {
  transition: all 0.2s ease-in-out;
}

.second-sidebar:hover .second-sidebar-icons {
  filter: brightness(0) saturate(100%) invert(99%) sepia(1%) 
          saturate(131%) hue-rotate(18deg) brightness(116%) contrast(100%);
  transition: filter 0.2s ease-in-out;
}

.second-sidebar .second-sidebar-spans {
  font-family: 'Switzer Regular';
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
.second-sidebar:hover .second-sidebar-spans {
  color: white;
  transition: color 0.2s ease-in-out;
}




























/* EMS: [
            {
                id: "dashboard",
                label: "Dashboard",
                icon: DashboardIcon,
                path: "/company/dashboard",
            },
            {
                id: "documentation",
                label: "Documentation",
                icon: DocumentationIcon,
            },
            {
                id: "training",
                label: "Employee Training & Performance",
                icon: TrainingIcon,
            },
            {
                id: "actions",
                label: "Actions, Meeting and Communication Management",
                icon: ActionsIcon,

            },
            {
                id: "audits",
                label: "Audits & Inspections Management",
                icon: AuditsIcon,

            },
            {
                id: "customer",
                label: "Customer Management",
                icon: CustomerIcon,

            },
            {
                id: "supplier",
                label: "Supplier Management",
                icon: SupplierIcon,

            },
            {
                id: "compliance",
                label: "Compliance, Sustainability & Management of Change",
                icon: ComplianceIcon,

            },
            {
                id: "risk",
                label: "Risk, Opportunities & Incident Management",
                icon: RiskIcon,

            },
            {
                id: "energy",
                label: "Energy Management",
                icon: EnergyIcon,

            },
            {
                id: "correction",
                label: "Correction Corrective Actions & Preventive Actions",
                icon: CorrectionIcon,

            },
            {
                id: "objectives",
                label: "Objectives & Targets",
                icon: ObjectivesIcon,

            },
            {
                id: "user",
                label: "User Management",
                icon: UserIcon,

            },
            {
                id: "nonconformity",
                label: "Non Conformity Report Management",
                icon: NonConformityIcon,

            },
            {
                id: "reports",
                label: "Reports & Analysis",
                icon: ReportsIcon,

            },
            {
                id: "backup",
                label: "Backup",
                icon: BackupIcon,
                path: "/company/backup",
            },
            { id: "logout", label: "Log Out", icon: LogoutIcon, path: "/logout" },
        ],

        OHS: [
            {
                id: "dashboard",
                label: "Dashboard",
                icon: DashboardIcon,
                path: "/company/dashboard",
            },
            {
                id: "documentation",
                label: "Documentation",
                icon: DocumentationIcon,
            },
            {
                id: "training",
                label: "Employee Training & Performance",
                icon: TrainingIcon,
            },
            {
                id: "actions",
                label: "Actions, Meeting and Communication Management",
                icon: ActionsIcon,

            },
            {
                id: "audits",
                label: "Audits & Inspections Management",
                icon: AuditsIcon,

            },
            {
                id: "customer",
                label: "Customer Management",
                icon: CustomerIcon,

            },
            {
                id: "supplier",
                label: "Supplier Management",
                icon: SupplierIcon,

            },
            {
                id: "compliance",
                label: "Compliance, Sustainability & Management of Change",
                icon: ComplianceIcon,

            },
            {
                id: "risk",
                label: "Risk, Opportunities & Incident Management",
                icon: RiskIcon,

            },
            {
                id: "energy",
                label: "Energy Management",
                icon: EnergyIcon,

            },
            {
                id: "correction",
                label: "Correction Corrective Actions & Preventive Actions",
                icon: CorrectionIcon,

            },
            {
                id: "objectives",
                label: "Objectives & Targets",
                icon: ObjectivesIcon,

            },
            {
                id: "user",
                label: "User Management",
                icon: UserIcon,

            },
            {
                id: "nonconformity",
                label: "Non Conformity Report Management",
                icon: NonConformityIcon,

            },
            {
                id: "reports",
                label: "Reports & Analysis",
                icon: ReportsIcon,

            },
            {
                id: "backup",
                label: "Backup",
                icon: BackupIcon,
                path: "/company/backup",
            },
            { id: "logout", label: "Log Out", icon: LogoutIcon, path: "/logout" },
        ], 

        EnMS: [
            {
                id: "dashboard",
                label: "Dashboard",
                icon: DashboardIcon,
                path: "/company/dashboard",
            },
            {
                id: "documentation",
                label: "Documentation",
                icon: DocumentationIcon,
            },
            {
                id: "training",
                label: "Employee Training & Performance",
                icon: TrainingIcon,
            },
            {
                id: "actions",
                label: "Actions, Meeting and Communication Management",
                icon: ActionsIcon,

            },
            {
                id: "audits",
                label: "Audits & Inspections Management",
                icon: AuditsIcon,

            },
            {
                id: "customer",
                label: "Customer Management",
                icon: CustomerIcon,

            },
            {
                id: "supplier",
                label: "Supplier Management",
                icon: SupplierIcon,

            },
            {
                id: "compliance",
                label: "Compliance, Sustainability & Management of Change",
                icon: ComplianceIcon,

            },
            {
                id: "risk",
                label: "Risk, Opportunities & Incident Management",
                icon: RiskIcon,

            },
            {
                id: "energy",
                label: "Energy Management",
                icon: EnergyIcon,

            },
            {
                id: "correction",
                label: "Correction Corrective Actions & Preventive Actions",
                icon: CorrectionIcon,

            },
            {
                id: "objectives",
                label: "Objectives & Targets",
                icon: ObjectivesIcon,

            },
            {
                id: "user",
                label: "User Management",
                icon: UserIcon,

            },
            {
                id: "nonconformity",
                label: "Non Conformity Report Management",
                icon: NonConformityIcon,

            },
            {
                id: "reports",
                label: "Reports & Analysis",
                icon: ReportsIcon,

            },
            {
                id: "backup",
                label: "Backup",
                icon: BackupIcon,
                path: "/company/backup",
            },
            { id: "logout", label: "Log Out", icon: LogoutIcon, path: "/logout" },
        ],

        BMS: [
            {
                id: "dashboard",
                label: "Dashboard",
                icon: DashboardIcon,
                path: "/company/dashboard",
            },
            {
                id: "documentation",
                label: "Documentation",
                icon: DocumentationIcon,
            },
            {
                id: "training",
                label: "Employee Training & Performance",
                icon: TrainingIcon,
            },
            {
                id: "actions",
                label: "Actions, Meeting and Communication Management",
                icon: ActionsIcon,

            },
            {
                id: "audits",
                label: "Audits & Inspections Management",
                icon: AuditsIcon,

            },
            {
                id: "customer",
                label: "Customer Management",
                icon: CustomerIcon,

            },
            {
                id: "supplier",
                label: "Supplier Management",
                icon: SupplierIcon,

            },
            {
                id: "compliance",
                label: "Compliance, Sustainability & Management of Change",
                icon: ComplianceIcon,

            },
            {
                id: "risk",
                label: "Risk, Opportunities & Incident Management",
                icon: RiskIcon,

            },
            {
                id: "business",
                label: "Business Continuity Management",
                icon: AnalysisIcon,

            },
            {
                id: "correction",
                label: "Correction Corrective Actions & Preventive Actions",
                icon: CorrectionIcon,

            },
            {
                id: "objectives",
                label: "Objectives & Targets",
                icon: ObjectivesIcon,

            },
            {
                id: "user",
                label: "User Management",
                icon: UserIcon,

            },
            {
                id: "nonconformity",
                label: "Non Conformity Report Management",
                icon: NonConformityIcon,

            },
            {
                id: "reports",
                label: "Reports & Analysis",
                icon: ReportsIcon,

            },
            {
                id: "backup",
                label: "Backup",
                icon: BackupIcon,
                path: "/company/backup",
            },
            { id: "logout", label: "Log Out", icon: LogoutIcon, path: "/logout" },
        ],

        AMS: [
            {
                id: "dashboard",
                label: "Dashboard",
                icon: DashboardIcon,
                path: "/company/dashboard",
            },
            {
                id: "documentation",
                label: "Documentation",
                icon: DocumentationIcon,
            },
            {
                id: "training",
                label: "Employee Training & Performance",
                icon: TrainingIcon,
            },
            {
                id: "actions",
                label: "Meeting and Communication Management",
                icon: ActionsIcon,

            },
            {
                id: "audits",
                label: "Audits & Inspections Management",
                icon: AuditsIcon,

            },
            {
                id: "customer",
                label: "Customer Management",
                icon: CustomerIcon,

            },
            {
                id: "supplier",
                label: "Supplier Management",
                icon: SupplierIcon,

            },
            {
                id: "compliance",
                label: "Compliance, Sustainability & Management of Change",
                icon: ComplianceIcon,

            },
            {
                id: "risk",
                label: "Risk & Incident Management",
                icon: RiskIcon,

            },
            {
                id: "energy",
                label: "Energy Management",
                icon: EnergyIcon,

            },
            {
                id: "correction",
                label: "Correction Corrective Actions & Preventive Actions",
                icon: CorrectionIcon,

            },
            {
                id: "objectives",
                label: "Objectives & Targets",
                icon: ObjectivesIcon,

            },
            {
                id: "user",
                label: "User Management",
                icon: UserIcon,

            },
            {
                id: "nonconformity",
                label: "Non Conformity Report Management",
                icon: NonConformityIcon,

            },
            {
                id: "reports",
                label: "Reports & Analysis",
                icon: ReportsIcon,

            },
            {
                id: "backup",
                label: "Backup",
                icon: BackupIcon,
                path: "/company/backup",
            },
            { id: "logout", label: "Log Out", icon: LogoutIcon, path: "/logout" },
        ],

        IMS: [
            {
                id: "dashboard",
                label: "Dashboard",
                icon: DashboardIcon,
                path: "/company/dashboard",
            },
        ] */
