/* SecondarySidebar.css */
.secondary-sidebar {
    transition: width 0.3s ease;
  }
  
  .secondary-sidebar a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Custom scrollbar for the sidebar */
  .secondary-sidebar::-webkit-scrollbar {
    width: 1px;
  }
  
  .secondary-sidebar::-webkit-scrollbar-track {
    background: #13131A;
  }
  
  .secondary-sidebar::-webkit-scrollbar-thumb {
    background: #1C1C24;
    border-radius: 4px;
  }
  
  .secondary-sidebar::-webkit-scrollbar-thumb:hover {
    background: #1C1C24;
  }
  
  /* For Firefox scrollbar */
  .secondary-sidebar {
    scrollbar-width: thin;
    scrollbar-color: #1C1C24 #1C1C24;
  }