.nav-search {
    width: 266px;
    height: 46px;
    border-color: #383840;
    font-family: 'Switzer Light';
}
.nav-search::placeholder {
    color: #414345;
    font-family: 'Switzer Light';
    font-size: 14px;
}
.bell-icon {
    border: 1px solid #383840;
    width: 46px;
    height: 46px;
    border-radius: 100%;
}
.settings-icon {
    border: 1px solid #383840;
    width: 46px;
    height: 46px;
    border-radius: 100%;
}
.text-1 {
    font-family: 'Switzer Light';
    font-size: 16px;
    line-height: 21.12px;
}
.text-2 {
    font-family: 'Switzer Light';
    font-size: 12px;
    line-height: 15.84px;
}


.close-menu {
    background-color: #1C1C24;
    padding: 16.5px 11px;
    border-radius: 6px;
}

.current-menu {
    font-family: 'Switzer Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.company-navbar.light {
    background-color: white;
}